<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTestSuite" parallel="tests" thread-count="3">
    <test name="EdgeTest">
        <parameter name="browser" value="edge" />
        <classes>
            <class name="testCases.LoginTest" />
        </classes>
    </test>
       <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="testCases.LoginTest" />
        </classes>
    </test>
</suite>
